# Компилированные классы и артефакты
*/target/
*.class
*.jar
out/

# IDE и настройки
.vscode/
.idea/
*.iml

# Логи и временные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# Локальные библиотеки
/lib/

# Игнорировать старые проекты
lab5/
